__pycache__/*
build/*
dist/*
foxModules/*.pyc
foxModules/__pycache__/*
OUTPUT/*
SOURCE_CSV/*
SOURCE_XLS/*
TEMP_CSV/*
Lib/*
Scripts/*
*.spec
*.exe
*.zip
*.pyc
*.txt
*.cfg
*.bat
*.log
*.csv
*.xls
.DS_Store
*.rar